* {
    font-family: 'Courier New', Courier, monospace;
}

.searchArea {
    border: solid 2px black;
    border-radius: 5px;
}

.currentWeather {
    padding: 5%;
    border: solid 2px black;
    border-radius: 5px;
}