* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    width: 100%;
}

header h1 {
    background-color: #2a54c7;
    color: aliceblue;
    text-align: center;
    padding: 1%;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.searchArea {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

.currentWeather {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 3px;
    padding: 5px;
    border: solid 2px black;
    border-radius: 5px;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.weatherForecast {
    display: flex;
    flex: 85%;
    justify-content: space-evenly;
    border: solid 2px black;
    margin: 3px;
    padding: 3px;
}

.searchList {
    display: flex;
    flex: 15%;
    justify-content: flex-start;
    border: solid 2px black;
    margin: 3px;
    padding: 3px;
}

.searchList, button {
    display: flex;
    flex-direction: column;
    margin: 3px;
}